
/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: $light;
}

.sidebar .widget.enews-widget {
	background-color: $dark;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid $dark;
}

.enews-widget input {
	font-size: 16px;
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	background-color: $extra;
	color: $light;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"] {
	background-color: $light;
	color: $dark;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid $gray;
	margin-bottom: 20px;
	padding: 0 0 24px;
}

.footer-widgets .entry {
	border-bottom: 1px dotted #666;
}

.featured-content .entry-title {
	font-size: 20px;
}
