/* move down content because we have a fixed navbar that is 50px tall */

body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.btn-jmb {
	margin-left: 50px;
}
.top-icons {
	text-align: center;
}
.top-icons i {
	background-color: #16a085;
	border-radius: 50%;
	color: white;
	margin: 0 auto;
	padding: 20px;
}
.row h2 {
	text-align: center;
}
.jumbotron {
	background-color: #1abc9c;
	color: #eaeaea;
}
footer {
	background-color: #1abc9c;
	color: white;
	font-size: 18px;
	margin-bottom: -20px;
	padding: 10px;
}
footer a {
	color: white;
	border-bottom: 1px solid white;
}
footer a:hover {
	border-bottom: 2px solid white;
	color: white;
	font-weight: bold;
	text-decoration: none;
}